//Font

$main-font : Roboto, sans-serif;

//colors

$body-bg: #e5e8ed;

$th-bg: #0a508c;
$th-color: #a5b5cb;

$form-header-bg: #393939;
$form-header-color: #fff;

$primary: #1393ff;
$danger: #f04e34;

$link-primary: #067ce1;
$link-danger: #b02337;

$text-darkgray: #4f5b65;
$text-lightgray: #868c96;

//border

$border-color: #c8ccd4;
$border-radius: 3px;


//shadow

$box-shadow: 1px 2px 5px 1px rgba(170,170,170,1);